@media only screen and (max-width: 767px) {
  .form {
    width: 80vw;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 35px;
    margin-top: 3rem;
    box-shadow: 18px 25px 50px 3px rgba(0, 0, 0, 0.6);
  }

  .form label {
    font-size: 14px !important;
    text-transform: capitalize;
  }

  .form input {
    font-size: 12px;
  }

  .formBtn button {
    font-size: 12px !important;
    font-weight: 700;
  }
}

.form {
  min-width: 240px;
  max-width: 380px;
  min-height: 50vh;
  border-radius: 24px;
  padding: 16px 68px !important;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  border: none;
}

.formBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.formBtn button {
  width: 50%;
  border: 1px solid #198754;
}

.accountPara p {
  font-size: 14px;
  font-weight: 400;
}

.link {
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
}
